.about1 {
  padding: 3rem 0;
  margin-top: 2rem;
}

.about1-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about1-content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr; /* Adjust proportion of text:image */
  align-items: center;
  gap: 4rem;
}

.about1-text {
  font-family: "Inter", sans-serif;
}

.about1-text h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1.3;
   font-family: "Playfair Display", serif;
}

.about1-text p {
  margin-bottom: 1.2rem;
  margin-right: 3rem;
  color: rgb(43, 40, 40);
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "inter", sans-serif;
}


.about1-image {
  text-align: center;
}

.about1-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

/* Responsive */
@media (max-width: 992px) {
  .about1-content {
    grid-template-columns: 1fr; /* stack vertically */
    text-align: center;
  }

  .about1-text {
    order: 1;
  }

  .about1-image {
    order: 2;
  }

  .about1-text h3 {
    font-size: 1.8rem;
  }

  .about1-text p {
    font-size: 1rem;
  }

  .about1-image img {
    max-width: 400px;
  }
}
